<ion-header>
  <ion-navbar>
    <ion-title>Meu leitor de Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label floating>URL da Foto</ion-label>
      <ion-input type="text" [(ngModel)]="urlimagem"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button block color="secondary" (click)="analisarImagem()">Analisar</button>

    <div class="preview-img">
      <img src="{{imgPreview}}">
    </div>

    <ion-list no-lines>
      <ion-item *ngFor="let tag of predictions">
        <h2>{{tag.tagName}}</h2>
        <p>{{tag.probability | percent}}</p>
      </ion-item>
    </ion-list>

  </div>

  <div padding>
    <p>
      <button ion-button block color="secondary" (click)="carregar()">
        Carregar Feeds
      </button>
    </p>
    <ion-list>
      <ion-item *ngFor="let feed of feeds">
        <ion-thumbnail item-left>
          <img [src]="feed.data.thumbnail">
        </ion-thumbnail>
        <h2>{{feed.data.title}}</h2>
        <p>{{feed.data.domain}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
